<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>FirProj.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>2F581D971EE9441B0091CC7C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2F581DAB1EE9441B0091CC7C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2F581DB61EE9441B0091CC7C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
